
body {
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #121212;
}
@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    color: #fccce0;
    text-align: center;
    animation: loading 2s;
}
.title {
  font-size: 5vh;
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  font-family: 'Work Sans', sans-serif;
  background-color: #181818;
  color: white;
  border: 0.3vh solid #fccce0;
  border-radius: 1vh;
  padding: 1vh;
  font-size: 2vh;
  width: 20vh;
  margin-bottom: 1vh;
  outline: none;
}
.submit {
  font-family: 'Work Sans', sans-serif;
  background-color: #fccce0;
  color: #181818;
  border: 0.3vh solid #fccce0;
  border-radius: 3vh;
  padding: 1vh;
  font-size: 1.5vh;
  width: 15vh;
  outline: none;
  margin-top: 2vh;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.disconnect {
  font-family: 'Work Sans', sans-serif;
  background-color: #fccce0;
  color: #181818;
  border: 0.3vh solid #fccce0;
  border-radius: 3vh;
  padding: 1vh;
  font-size: 1.5vh;
  width: 15vh;
  outline: none;
  margin-top: 4vh;
  margin-right: 4vh;
  transition: all .3s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.home {
  cursor: pointer;
  position: absolute;
  margin-top: 4vh;
  margin-left: 4vh;
  left: 0;
  top: 0;
  height: 4vh;
  width: 4vh;
}




/* ADMIN */
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2vh;
}
.btn-menu {
  font-family: 'Work Sans', sans-serif;
  background-color: #181818;
  color: #fccce0;
  border: 0.3vh solid #fccce0;
  border-radius: 1vh;
  padding: 1vh;
  font-size: 2vh;
  width: 20vh;
  outline: none;
  margin: 0 1vh;
  text-decoration: none;
}




/* ENREGISTRER MUSICIEN */
.add {
  width: unset;
}
/* pour enlever les fleches sur les input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


table {
  font-size: 2vh;
  margin-bottom: 2vh;
}
th, td {
  padding: 0 2vh;
  padding-bottom: 2vh;
}
td:nth-child(1) {
  text-align: left;
  cursor: pointer;
}



/* AJOUTER TITRE */
select {
  font-family: 'Work Sans', sans-serif;
  background-color: #181818;
  color: white;
  border: 0.3vh solid #fccce0;
  border-radius: 1vh;
  padding: 1vh;
  font-size: 2vh;
  width: 25vh;
  margin-bottom: 1vh;
  outline: none;
  appearance:none;
  text-align: center;
  margin-bottom: 5vh;
}




/* RECHERCHER DES MUSIQUES */
.recherche {
  flex-direction: row;
  align-items: unset;
}
.search-bar {
  font-family: 'Work Sans', sans-serif;
  background-color: #181818;
  color: white;
  border: 0.3vh solid #fccce0;
  border-radius: 1vh;
  padding: 1vh;
  font-size: 2vh;
  width: 30vh;
  margin-bottom: 1vh;
  outline: none;
}
.search-icon {
  margin-left: 2vh;
  border-style: none;
  background: url(search.png);
  background-position: center;
  background-size: cover;
  border-radius: 500px;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}



/* AFFICHER MUSIQUE */
.erreur {
  font-size: 2vh;
}
